body {
  background-color: rgb(228, 237, 247);
  font-family: 'Karla', sans-serif;
  font-weight:bolder;
}

.center {
  border-radius: 5px 5px;
  margin-left: 31%;
  margin-top: 10%;
  margin-right: 32%;
  margin-bottom: 10px;
  height: 434px;
  width: 625px;
  background-color: #fff;
}

.center-top{
  padding-left: 40px;
  padding-top: 18px;
}

.center-bottom {
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 20px;
  height: 240px;
}

.column {
  padding: 10px;
}

.left {
  flex: 50%;
  background-color: #32b8ae;
  padding-left: 40px;
}

.right {
  flex: 50%;
  background-color: #57c9bd;
  padding-left: 40px;
}

.First-header {
  color: #0da297;
  font-size: 26px;
}

.Second-header {
  color:#E4ED66;
}

.first-para, .second-para{
  color : #8D979A;
}

.Third-header, .Fourth-header, .Fifth-header{
  color : #fff;
}

.third-para{
  padding-left : 64px;
  margin-top: -48px;
  color: #A3DADA;
}

.fourth-para{
  color: #fff;
  margin-bottom: 24px;
}

.button{
  border-radius: 5px;
  border-width: 0px;
  width: 205px;
  height: 42px;
  background-color: #CDE04D;;
  color: #fff;
  font-size: 16px;
}

.fifth-para{
  list-style-type: none;
  font-size: 1 rem;
  color:rgba(229, 229, 229, 0.96);
  padding-left: 0px;
}

/* responsiveness */
@media only screen and (max-width: 1128px) {
  .center{
    margin-left:25%;
    margin-top: 14%;
  }
}

@media only screen and (max-width: 944px) {
  .center{
    margin-left:18%;
  }
}

@media only screen and (max-width: 850px) {
  .center{
    margin-left:12%;
    margin-top: 16%;
  }
}

@media only screen and (max-width:710px){
   .center-bottom{
      flex-direction: row;
   }
  .left, .right{
    flex: 100%;
  }
  .center{
    margin : 4% 19% 0 19%;
    height : 250px;
    width : 404px;
  }
}

@media only screen and (max-width:630px){
  .center-bottom{
     flex-direction: row;
  }
 .left, .right{
   flex: 100%;
 }
 .center{
   margin : 4% 19% 0 14%;
   height : 550px;
   width : 320px;
 }
}

.attribution{
  position: absolute;
  right : 0;
  top: 0;
  margin: 0;
  transform:translate(-5vw, 5vh);
  color: rgba(14, 53, 230, 0.986);
  font-weight: bold;
}

.footer-link{
  color: #0da297;
}