body {
  background-color: rgb(228, 237, 247);
}

.center {
  margin-left: 28%;
  margin-top: 10%;
  margin-right: 32%;
  margin-bottom: 10px;
  height: 284.633px;
  width: 617.033px;
  background-color: #fff;
}
